.product-image:hover {
	cursor:pointer;
	transform: scale(1.5);
	transition: transform .2s;
}

.product-image:hover + .product-name {
	cursor:pointer;
}

.product-image {
	background: #3A6F9A;
    vertical-align: middle;
}

.product-name{
	color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 24px;
}

.product-action-div {
	height:10%;
	position: absolute;
	display:inline;
    bottom: 0;
    left: 0;
    right: 0;
    border-top:1px solid rgba(160,160,160,0.2);
}

.buttons {
	width:50%;
	height:100%;
	display:inline;
}

.buttons > a {
	margin-top:8px;
}

.buy-button {
	margin-left:2px;
}

.add-to-cart-button {
	margin-left:20px;
}

.card-image {
	white-space: nowrap;
    min-height:50%;
    text-align: center; margin: 1em 0;
}

.card .card-image img {
	height: 250px !important;
	width: none !important;
}

.card.large {
	height: none !important;
}

.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#dropdown1 {
	color:black;

}

ul.select-dropdown,
ul.dropdown-content {
  width: auto !important;
  height: auto !important;

  li > span {
    white-space: nowrap;
  }
}

.dropdown-content-menu {
	left:300px !important;
	overflow: visible;
}

.dropdown-content-iphone {
	left:117px !important;
}

.product-image-cart {
	width:60px;
}

.cart-table tr {
 line-height:14px;
}

.cart-table {
	
}

.empty-cart {
	padding:10px;
}

.total-price {
	text-align:center;
	font-size: 15px;
	border-bottom:1px solid rgba(0,0,0,0.12);
	margin:0px;
}

.sidenav {
    transform: translateX(0%) !important;
    overflow: visible;
    top: 64px !important;
    overflow-y: unset !important;

}

.shopping-cart-icon {
	float:left;
}

.cart-item-badge {
	min-width: 0px !important;
}

.counter-div {
	border:1px solid black;
}

.divider {
	margin:0px !important;
}

.cart-actions {
	text-align:center;
}

.sidenav li>a {
	height: auto !important;
	white-space: nowrap;
	border: none !important;

}

.search-bar {
	border:1px solid black;
}

#mid-view {
    padding: 30px 20px;
    box-sizing: border-box;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    position: absolute;
    /* min-height: 10% !important; */
    margin-left: 330px;
}

#mid-view::-webkit-scrollbar {
	width: 10px;
}

#mid-view::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#mid-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}


html, body {margin: 0 auto; 
	position: relative;
  height: 100%;
 overflow: visible}

.center-search {
	text-align:center;
}

nav form {
    width: 90%;
    position: absolute;
}

.search-input {
	width: 20% !important;
    text-align: center;
    margin-left: 45% !important;
}

.search-submit-button {
	height: 35px !important;
    line-height: 35px !important;
    vertical-align: middle !important;
}

.sidebar-content-margin {
}

.login-form {
	padding:40px;
}

label {
	font-size: 1.0rem !important;
}

.list-opened {
	position: absolute;
  left: 300px;
  float: right;
  display: inline-block !important;
  max-width: 500px;
  max-height: 500px;
  word-wrap: break-word;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.listItemComponent {
	/*position: fixed;*/
	/*position: relative;*/
	/*display: flex;*/

}

.listItem {
	display: inline-block !important;
	width:  100% !important;
}